{% extends 'base.html' %}

{% block content %}
<p>Django and Flask is an imaginary television detective show, set in the Dutch capital of Amsterdam. Its two lead characters take their names from the two major web frameworks written in the Python programming language, originally created by Guido van Rossum.</p>

<p>Taking on the characteristics that uniquely indentify their related web-frameworks, Detectives Django and Flask make for a unique pairing whose storylines offers special enjoyment to web developers who delight in the layers of meta-commentary and self-referential symbolism.</p>

<p>Django is the more mature detective, set in his ways. He was a star of the force in his earlier days -- he seemed to be everywhere, taking care of everything. But now, questions exist as to his effectiveness, whether he is too slow, too heavy.</p>

<p>Flask is the new partner, daring, brash. Lightweight, quick. No wasted movements. But every detail is examined and chosen deliberately. Slow to get moving, but once all the parts are in place -- effective, efficient, self-aware, clean.</p>

<p>As a self-referential, web-inspired cop-show, Django and Flask is — of course — open-source and created by a community. So sign up and start contributing episodes. Together, let's discover what this show can become.</p>

{% endblock %}